.button {
  background-color: #ee5684;
  color: #fff;
  text-transform: uppercase;
  /* width: 100%; */
  padding: 15px 20px;
  border: 1px solid #ee5684;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 1px rgb(119, 116, 116);
  margin-bottom: 20px;
}
.fullWitdh {
  width: 100%;
}

.two {
  background-color: #fff;
  border: 1px solid black;
  color: #000;
  padding: 10px;
}
